body {
  font: 11px/20px "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

.header-wrapper {
  min-width: 400px;
  width: 100%;
  background: #89898b;
  height: 860px;
}

.header-content {
  padding-left: 50px;
  padding-top: 111px;
  width: 775px;
  margin: auto;
}

.logo {
  margin: auto;
  width: 90px;
  height: 90px;
  background: url(../img/Logo.png) no-repeat;
}

.header-text {
  margin-top: 50px;
padding-left: 3px;
letter-spacing: 0.28px;
}

.header-text h1 {
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.header-text h2 {
  margin-top: 51px;
  text-align: center;
  color: #ffe600;
  font-size: 40px;
  margin-bottom: 116px;
}

.header-button {
  text-align: center;
  padding: 20px 0px 23px 0px;
  margin: auto;
  width: 232px;
  border: 1px solid#ffe600;
}

.header-button a {
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin-bottom: 50px;
}

.header-content img {
  display: flex;
  margin: auto;
  margin-top: 50px;
}

.navigation {
  width: 100%;
  min-width: 400px;
  height: 120px;
  border-bottom: 1px solid #ffe600;
}

.logo-nav {
  padding: 35px 0px 60px 20px;
  width: 1136px;
  height: 120px;
  margin: auto;
}

.nav {
  margin-top: 18px;
  float: right;
}

.nav ul li a {
  border: 1px solid transparent;
  padding: 15px 27px 16px 28px;
}

.nav li a:hover {
  border: 1px solid #ffe600;
  padding: 15px 27px 16px 28px;
}

.nav li a {
  border: transparent;
}

.nav ul li {
  float: left;
}

.nav ul li a {
  text-decoration: none;
  color: #979797;
  font-size: 15px;
  text-transform: uppercase;
}

.nav ul li:last-child {
  padding-right: 0px;
}

.main {
  width: 100%;
  margin-bottom: -5px;
}

.conteiner {
  padding-top: 120px;
  margin: auto;
  width: 1280px;
}

.conteiner h3 {
  text-align: center;
  color: #000;
  font-size: 25px;
  text-transform: uppercase;
  padding-bottom: 28px;
  padding-left: 51px;
}

.conteiner p {
  margin-bottom: 130px;
text-align: center;
text-transform: lowercase;
color:#ffe600;
font-size: 15px;
}

.block-main {
  display: flex;
  justify-content: space-around;
}
.block-main p{
  color:#8e8e8e;
}

.block01, .block02, .block03 {
  width: 300px;
}


.number {
  display: flex;
  height: 115px;
}

.number span {
  border-right: 1px solid #ffe600;
  font-size: 25px;
  padding: 10px;
  width: 50px;
  height: 40px;
  color: #ffe600;
}

.number h4 {
  font-weight: bold;
  color: #131316;
  text-transform: uppercase;
  font-size: 15px;
  padding-left: 10px;
  padding-top: 12px;
}

.conteiner-yellow {
  width: 100%;
  height: 598px;
  background: #ffeb33;
}

.data {
  padding-top: 227px;
margin: auto;
width: 700px;
padding-left: 22px;
}

.data h5 {
  font-family: "roboto-light", serif;
  font-size: 25px;
  text-align: center;
  line-height: 62px;
}

.data p {
  line-height: 49px;
}

.data span {
  font-family: "roboto-light", serif;
  font-size: 25px;
  text-align: center;
  padding-left: 41px;
}

.data p {
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.porfolio {
  margin: auto;
  width: 1176px;
  margin-bottom: 109px;
}

.data-porfolio {
  padding-left: 62px;
  margin-bottom: 120px;
  margin-top: 120px;
  text-align: center;
}

.data-porfolio span {
  font-size: 25px;
}

.data-porfolio p {
  padding-left: 65px;
  margin-top: 12px;
  font-size: 15px;
  color: #ffeb33;
  padding-top: 7px;
padding-left: 7px;
}

.gallery {
  display: flex;
  width: 1136px;
  margin: auto;
  flex-wrap: wrap;
  padding-left: 11px;
  justify-content: space-between;
}
.gallery li{
  list-style-type: none;
}

.block-gallery {
  margin-bottom: 20px;
  background: #f3f3f3;
  width: 272px;
  height: 200px;
}

.block-gallery span {
  padding: 90px;
  color: #131316;
  font-size: 20px;
  text-align: center;
  height: 200px;
  display: none;
}

.block-gallery:hover span {
  background: #ffe600;
  display: block;
}

.porfolio p {
  text-align: center;
  font-size: 15px;
  color: #ffe600;
}

.arrow {
  margin: auto;
  margin-top: 25px;
  width: 50px;
  padding-left: 22px;
}

.clients {
  height: 500px;
  width: 100%;
  background: #424245;
}

.data-clients {
  padding-top: 120px;
  text-align: center;
  margin: auto;
  width: 1176px;
  height: 316px;
}

.clients span {
  padding-left: 33px;
  color: #fff;
  font-size: 25px;
  margin-top: 120px;
}

.clients p {
  padding-left: 52px;
  margin-top: 23px;
  color: #ffe600;
  font-size: 15px;
}

.sponsor {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1280px;
  margin: auto;
}

.item3, .item4, .item6 {
  margin-top: -15px;
}

/*  ------------------------------------------ */

.form-send {
  width: 973px;
  margin: auto;
  height: 688px;
}

.form-send h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 114px;
  font-size: 25px;
  margin-bottom: 33px;
}

.form-send h2 {
  text-transform: uppercase;
  text-align: center;
  color: #ffe600;
  font-size: 14px;
  margin-bottom: 70px;
}

/* Форма */

input::-webkit-input-placeholder {
  color: #fff;
}

.form {
  margin-top: 100px;
}

.row_name {
  margin-left: 40px;
  float: left;
}

.row_mail {
  margin-left: 40px;
  float: left;
}

.row_mail input {
  padding: 23px;
  background: #ffe600;
  width: 469px;
  height: 52px;
  border: none;
}

.row_name:first-child {
  margin-left: 0px;
}

.row_name input {
  padding: 23px;
  background: #ffe600;
  width: 462px;
  height: 52px;
  border: none;
}

.row_subject input {
  margin-top: 20px;
  width: 972px;
  background: #ffe600;
  padding: 23px;
  height: 52px;
  margin-bottom: 20px;
  border: none;
}

.row_massage textarea {
  resize: none;
  background: #ffe600;
  width: 972px;
  padding: 23px;
  border: none;
  margin-bottom: 21px;
}

textarea::-webkit-input-placeholder {
  color: #fff;
}

.send {
  padding: 17px 0 15px 0;
  text-align: center;
  background: #131316;
}

.send input {
  border: 0;
  background: #131316;
  color: #ffe600;
  outline: none;
}

.send a {
  display: block;
  text-decoration: none;
  color: #ffe600;
  text-align: center;
  padding: 19px;
  margin-bottom: 114px;
}
.footer{
  background:#131316;
  width: 100%;
}
.footer-conteiner{
  width: 973px;
  margin:auto;
}
.footer-item {
  margin-top: 100px;
  height: 100px;
  background-size: cover;
  width: 100%;
}

.footer-item p {
  color: #ffe600;
  font-size: 13px;
  padding-top: 46px;
}

.social li {
  margin-top: -15px;
  float: right;
  text-decoration: none;
  margin-right: 35px;
}

.social .fb li {
  margin-top: -15px;
}